body {
    color: rgba(247, 18, 197, 0.877);
    background-color: bisque;
}
h1 {
    color: green;
    font-size: 40px;
}
h2 {
    font-size: 30px;
    color: black;
  }
  
p {
  font-size: 14px;
  color: #ff3333;
}

.box > * {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);
}

.box {
  border: 2px solid rgb(96 139 168);
  display: flex;
}
